<footer class="footer-v2">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline">
            <h2 class="heading-sm">About Us</h2>
          </div>
          <p class="margin-bottom-20">
            Geekulcha is where the young, talented, creative and ambitious IT minds meet to learn, share their knowledge, connect with industry leaders, get exposure and put their skills to work.
          </p>
        </div>

        <div class="col-md-6 md-margin-bottom-40">
          <div class="text-center" style="margin-top:80px;">
            <ul class="social-icons">
              <li><a href="https://www.facebook.com/Geekulcha" data-original-title="Facebook" class="rounded-x social_facebook"></a></li>
              <li><a href="https://twitter.com/Geekulcha" data-original-title="Twitter" class="rounded-x social_twitter"></a></li>
              <li><a href="https://plus.google.com/u/0/105852459159546202310/about" data-original-title="Google+" class="rounded-x social_googleplus"></a></li>
              <li><a href="http://geekulcha.wordpress.com/" data-original-title="Wordpress" class="rounded-x social_wordpress"></a></li>
              <li><a href="http://www.youtube.com/Geekulcha" data-original-title="Youtube" class="rounded-x social_youtube"></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3 md-margin-bottom-40">
          <div class="headline">
            <h2 class="heading-sm">Contact Us</h2>
          </div>
          <address class="md-margin-bottom-40">
            U8 Enterprise Building <br>
            The Innovation Hub <br>
            Presquor, 0087 <br>
            Phone: 074 373 0639 <br>
            E-mail: <a href="mailto:info@geekulcha.com" class="">info@geekulcha.com</a>
          </address>
        </div>
      </div>

    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <p class="text-center">2014 &copy;<a href="http://www.geekulcha.com">Geekulcha</a>. All Rights Reserved.</p>
    </div>
  </div>
</footer>
