<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<script>window.jQuery || document.write('<script src="/_bower_components/jquery.js"><\/script>')</script>

<!-- build:js(app) /assets/js/vendor.js -->
<script src="/_bower_components/jquery-migrate/jquery-migrate.min.js"></script>
<script src="/_bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/_bower_components/jquery-masonry/dist/masonry.pkgd.min.js"></script>
<script src="/assets/js/masonry/jquery.masonry.min.js"></script>
<!-- endbuild -->

<!-- build:js(app) /assets/js/script.js -->
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/blog-masonry.js"></script>
<!-- endbuild -->

<script type="text/javascript">
  // jQuery(document).ready(function() {
  //   App.init();
  // });
</script>
